<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <th:block th:replace="fragments/head :: header('Create Location')"/>
        <link rel="stylesheet" href="/css/profile.css"/>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: nav"/>
        <div class="container">
            <div class="row top-row">
                <div class="col-6">

                </div>
                <div class="col-6">

                </div>
            </div>
            <div class="row">
                <th:block th:each="location : ${locations}">
                    <!--<div class="contain-bg card col-12 col-md-6" style="text-align: center">-->
                    <!--<th:block th:if="${users}">-->
                    <!--<div class="contain-bg card" style="text-align: center; width: 100%">-->
                        <!--<div class="card-body">-->
                            <!--<h5 class="card-title" th:text="${location.title}"></h5>-->
                            <!--<p class="card-text" th:text="${location.zipcode}"></p>-->
                            <!--if no posts, dont show-->
                            <button th:if="${edit}" class="btn btn-primary"><a th:href="@{'/locations/edit/' + ${location.getId()}}">Edit</a></button>
                            <button th:if="${edit}" class="btn btn-primary"><a th:href="@{'/locations/delete/' + ${location.getId()}}">Delete</a></button>
                        <!--</div>-->
                    <!--</div>-->
                    <!--</th:block>-->
                </th:block>
                <div class="card bg-light col-12 col-md-6">
                    <form th:action="@{/locations/create}" th:method="post" th:object="${location}">

                        <div class="card-header">My Locations</div>
                        <div class="card-body">
                            <!--<h5 class="card-title">AQI</h5>-->

                            <div class="form-group">
                                <label for="loc-title">Title</label>
                                <input id="loc-title" class="form-control" th:field="*{title}" />
                            </div>

                            <div class="form-group">
                                <label for="zipcode">Zipcode</label>
                                <input id="zipcode" class="form-control" th:field="*{zipcode}" />
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="textAlerts" th:field="*{textAlert}"/>
                                <label class="form-check-label" for="textAlerts">
                                    Air Quality Text Alerts
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="dailyAlerts" th:field="*{dailyAlert}"/>
                                <label class="form-check-label" for="dailyAlerts">
                                    Daily Forecast Alerts
                                </label>
                            </div>

                        </div>
                        <button type="submit" class="btn blue-btn white-text centered-btn">Create Location</button>
                    </form>
                </div>

       <!--Create Form-->
                <div class="col-12 col-md-4 ">
                    <img class="iphone" th:src="@{/images/phone-text-msg-removebg.png}"/>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer" />
    </body>
</html>