<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <th:block th:replace="fragments/head :: header('Sign-Up')"/>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: nav"/>
        <div class="container">
            <h1>My Places</h1><button th:if="${create}" class="btn btn-dark"><a th:href="${'/locations/create/'}">Create</a></button>
            <div class="row">
                <div class="card bg-light col-12 col-md-4">
                    <th:block th:each="location : ${locations}">
                        <!--<th:block th:if="${users}">-->
                        <div class="contain-bg card" style="text-align: center; width: 100%">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${location.title}"></h5>
                                <p class="card-text" th:text="${location.zipcode}"></p>
                                <!--if no posts, dont show-->
                                <button th:if="${edit}" class="btn btn-dark"><a th:href="@{'/locations/edit/' + ${location.getId()}}">Edit</a></button>
                                <button th:if="${edit}" class="btn btn-dark"><a th:href="@{'/locations/delete/' + ${location.getId()}}">Delete</a></button>
                            </div>
                        </div>
                        <!--</th:block>-->
                    </th:block>
                </div>
                    <!--Create Form-->
                <div class="card bg-light col-12 col-md-4 ">
                    <form th:action="@{/locations/create}" th:method="post" th:object="${location}">

                        <div class="card-header">My Locations</div>
                        <div class="card-body">
                            <!--<h5 class="card-title">AQI</h5>-->

                            <div class="form-group">
                            <label for="loc-title">Title</label>
                            <input id="loc-title" class="form-control" th:field="*{title}" />
                            </div>
                            <div class="form-group">
                            <label for="zipcode">Zipcode</label>
                            <input id="zipcode" class="form-control" th:field="*{zipcode}" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary loginBtn">Create Location</button>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer" />
    </body>
</html>