<!--<!DOCTYPE html>-->
    <!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
    <!--<head>-->
        <!--&lt;!&ndash;Load the AJAX API&ndash;&gt;-->
        <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
        <!--<script type="text/javascript">-->














        <!--</script>-->
    <!--</head>-->

    <!--<body>-->
    <!--&lt;!&ndash;Div that will hold the pie chart&ndash;&gt;-->
        <!--<div id="chart_div"></div>-->

    <!--<div id="click" class="class-me">CLICK THIS</div>-->

    <!--&lt;!&ndash;<th:block th:each="location : ${locations}">&ndash;&gt;-->
        <!--&lt;!&ndash;<h3 th:text="${location.}"></h3>&ndash;&gt;-->
    <!--&lt;!&ndash;</th:block>&ndash;&gt;-->

        <!--<footer th:replace="fragments/footer :: footer" />-->


    <!--</body>-->
<!--</html>-->