<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <th:block th:replace="fragments/head :: header('Sign-Up')"/>
        <link rel="stylesheet" href="/css/profile.css"/>

    </head>
    <body>
        <th:block th:replace="fragments/navbar :: nav"/>
        <div class="container">

            <!--<th:block th:if="${notAdmin}">-->
                <h2>My Places</h2>
            <hr/>
            <button th:if="${create}" class="btn btn-dark"><a th:href="${'/locations/create/'}">Add a Place</a></button>
                <div class="row">

                        <th:block th:each="aqiZipCode : ${aqiZipCodes}">
                            <!--<th:block th:if="${users}">-->
                            <div class="contain-bg card col-12 col-md-4" style="text-align: center">
                                <div class="card-header">
                                    <h3 class="card-title" th:text="${aqiZipCode.title}"></h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text" th:text="${aqiZipCode.zipCode}"></p>
                                    <p class="aqi-text" th:text="${aqiZipCode.aqi}"></p>
                                    <br/>
                                    <span class="badge badge-warning" th:text="${aqiZipCode.categoryName}"></span>
                                    <br/>
                                        <!--<th:block th:each="location : ${locations}">-->
                                            <button class="btn btn-primary"><a th:href="@{'/locations/edit/' + ${aqiZipCode.id}}">Edit</a></button>
                                            <button class="btn btn-primary"><a th:href="@{'/locations/delete/' + ${aqiZipCode.id}}">Delete</a></button>
                                    <div>

                                    </div>
                                    <!--</th:block>-->
                                </div>
                            </div>
                            <!--</th:block>-->
                        </th:block>
                </div>
            <!--</th:block>-->

            <th:block th:if="${admin}">
              <button class="btn btn-dark"><a th:href="@{'/uploader.html'}">Upload a New Record</a></button>
              <button class="btn btn-dark"><a th:href="@{'/viewusers'}">Upgrade User to Admin</a></button>
            </th:block>

            <!--<div id="chart_div">CHART HERE</div>-->
        </div>

        <footer th:replace="fragments/footer :: footer" />
    </body>
</html>