<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <th:block th:replace="fragments/head :: header('Sign-Up')"/>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: nav"/>
        <div class="container">
            <h1>My Places</h1><button th:if="${create}" class="btn btn-dark"><a th:href="${'/locations/create/'}">Create</a></button>
            <div class="row">
                <div class="col-12 col-md-4">
                    <!--<th:block th:each="catName : ${catName}">-->
                        <!--<th:block th:each="aqi : ${aqi}">-->
                    <!--<th:block th:each="location : ${locations}">-->
                    <th:block th:each="aqiZipCode : ${aqiZipCodes}">
                        <!--<th:block th:if="${users}">-->
                        <div class="contain-bg card" style="text-align: center; width: 100%">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${aqiZipCode.title}"></h5>
                                <p class="card-text" th:text="${aqiZipCode.zipCode}"></p>
                                <p class="card-text" th:text="${aqiZipCode.aqi}"></p>
                                <p class="card-text" th:text="${aqiZipCode.categoryName}"></p>

                                    <!--<th:block th:each="location : ${locations}">-->
                                        <button class="btn btn-dark"><a th:href="@{'/locations/edit/' + ${aqiZipCode.id}}">Edit</a></button>
                                        <button class="btn btn-dark"><a th:href="@{'/locations/delete/' + ${aqiZipCode.id}}">Delete</a></button>
                                    <!--</th:block>-->
                            </div>
                        </div>
                        <!--</th:block>-->
                    </th:block>
                </div>
            </div>


            <div id="chart_div">CHART HERE</div>
        </div>

        <footer th:replace="fragments/footer :: footer" />
    </body>
</html>