<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <th:block th:replace="fragments/head :: header('Sign-Up')"/>
        <link rel="stylesheet" href="/css/profile.css"/>

    </head>
    <body>
        <th:block th:replace="fragments/navbar :: nav"/>
        <div class="container">
            <div class="row top-row">
            <!--<th:block th:if="${notAdmin}">-->
                <div class="col-6">
                    <h2>My Places</h2>
                </div>
                <div class="col-6 right-column">
                    <a th:if="${create}" th:href="${'/locations/create/'}">Add a Location </a><a th:href="${'/locations/create/'}"><i class="fas fa-plus-square fa-2x"></i></a>
                </div>
            </div>
            <hr/>
                <div class="row top-row">

                        <th:block th:each="aqiZipCode : ${aqiZipCodes}">
                            <!--<th:block th:if="${users}">-->
                            <div class="contain-bg card col-12 col-md-4 custom-card" style="text-align: center">
                                <div class="card-header">
                                    <h3 class="card-title" th:text="${aqiZipCode.title}"></h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text" th:text="${aqiZipCode.zipCode}"></p>

                                    <p class="aqi-number" th:text="${aqiZipCode.aqi}"></p><span class="aqi" th:text="AQI"></span>

                                    <span class="badge badge-success" th:text="${aqiZipCode.categoryName}"></span>
                                        <!--<th:block th:each="location : ${locations}">-->
                                    <br /><br />

                                        <a th:href="@{'/locations/edit/' + ${aqiZipCode.id}}"><i class="far fa-edit fa-2x"></i></a>
                                        <a th:href="@{'/locations/delete/' + ${aqiZipCode.id}}"><i class="far fa-trash-alt fa-2x"></i></a>
                                    <!--</th:block>-->
                                </div>
                            </div>
                            <!--</th:block>-->
                        </th:block>
                </div>
            <!--</th:block>-->

            <th:block th:if="${admin}">
              <button class="btn btn-dark"><a th:href="@{'/uploader.html'}">Upload a New Record</a></button>
              <button class="btn btn-dark"><a th:href="@{'/viewusers'}">Upgrade User to Admin</a></button>
            </th:block>

            <!--<div id="chart_div">CHART HERE</div>-->
        </div>

        <footer th:replace="fragments/footer :: footer" />
    </body>
</html>