body {
    font-family: 'Didact Gothic', sans-serif;
}


.orange-btn {
    background-color: #ff5722;
    border: 1px solid #ff5722;
    color: #fff;
}



.custom-card {
    /*border: 4px solid #607d8b;*/
    border-radius: 10px;
}

.card-header {
    background-color: #fff;
}

.top-row {
    margin-top: 2em;
}

.right-column {
    text-align: right;
}

.profile-body{
    background-image: url("/images/grass.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.profile-btn{
    display: inline;
}

.background-container{
    background-color: white;

    height: 90vh;
    margin-top: 0;
}

.profile-background-container {
    background-color: #d4d4d4;
    opacity: 100%;
}

.profile-icons {
    text-align: right;
}

span.aqi-number {
    font-size: 4em;
    font-weight: lighter;
}

