#map {
    height: 600px;
    width: 100%;
}

.air-chart{
    /*width: 100%;*/
    margin-left: 15em;
}

.home-title{
    text-align: center;
}

.james-card, .anwar-card, .bethany-card {
    width: 100%;
    /*height: 255px;*/
    background-image: url("../images/james-lampkins.jpg");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    /*background-position: center;*/
}