#map {
    height: 600px;
    width: 100%;
}

.air-chart{
    /*width: 100%;*/
    margin-left: 15em;
}

.home-title{
    text-align: center;
}

nav {
    background-color: #010733;
    height: 4em;
}