/*body {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*!*background-image: url("/images/stripes-light.png");*!*/
    /*!*!*background-image: url("https://images.unsplash.com/photo-1495490311930-678c8ecdd120?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");*!*!*/
    /*!*font-family: 'Didact Gothic', sans-serif;*!*/
/*}*/


.link-color:hover{
    text-decoration: none;
    color: inherit;
}


table {
    background-color: #fff;
    margin-top: 2em;
}

th {
    width: 100px;
}

.gradient{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(86, 103, 115));
    background-color: gray;
}


.bear{
    display: inline-block;
    position: absolute;
    left: -5px;
}

.bear2{
    display: inline-block;
    position: absolute;
    right: 6px;
    transform: scaleX(-1);

}

.breath-title{
    margin-bottom: 10px;
}


.air-calculation{
    /*background-image: url("/images/skyBackground.jpeg");*/
    /*background-image: url("/images/cloudsMoving.gif");*/
    background-image: url("/images/grass.gif");
    /*background-image: url("/images/leaves.gif");*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: lightgray;*/
    /*padding: 3em;*/
    padding-top: 1em;
    padding-bottom: 3em;
    text-align: center;
    color: white;
    height: 60vh;
}

.grass-background{
    background-color: #e7e7e7;
    /*background-image: url("/images/grass.gif");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    /*!*background-size: cover;*!*/
}

.icon-row {
    height: 30vh;
    color: #14213d;
}

.test{
    font-size: 5em;
}


.login-body{
    /*background-image: url("/images/skyBackground.jpeg");*/
    /*background-image: url("/images/leaves.gif");*/
    background-image: url("/images/windLeaf.gif");
    /*background-image: url("/images/dandilion.gif");*/
    /*background-image: url("/images/grass.gif");*/
    background-repeat: no-repeat;
    background-size: cover;


}

/*.register-body {*/
    /*background-image: url("http://www.pptbackgrounds.org/uploads/beautiful-lonely-tree-wallpapers.jpg");*/
/*}*/


input {
    padding:10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 300px;
    /*height: 25px;*/
}


.iphone {
    margin-left: calc(50% - 125px);
}


.home-logo{
    /*padding-bottom: 2em;*/
    /*padding-top: 4em;*/
    width: 300px;
    /*margin-left: calc(50% - 87.5px);*/
    color: white;
}

/*.logo{*/
    /*background-color: lightgray;*/
/*}*/

.home-title{
    text-align: center;
}

.map-title{
    height: 50px;
    font-size: 28px;
    background-color: #14213D;
    color: white;
    text-align: center;
    line-height: 44px;
}

.james-card, .anwar-card, .bethany-card {
    width: 100%;
    background-repeat: no-repeat;
}
.centered-card {
    margin-left: calc(50% - 143px);
}

.about-us-container {
    max-width: 900px;
}

.blue-bg {
    background-color: deepskyblue;
}

.map-container {
    position: relative;
}

.heatmap-container {
    position: absolute;
    z-index: 5;
    bottom: 1em;
    left: 12em;
    border: 2px solid #45474f;
    background-color: #fff;
    width: fit-content;

}

.aq-map-box {
    background-color: white;
    position: absolute;
    /*display: inline-block;*/
    z-index: 5;
    bottom: 1em;
    left: 2em;
    border: 2px solid #45474f;
}

.custom-nav {
    background-color: #14213D;
    height: 10vh;
    /*border-bottom: 5px solid #40A32F;*/
}

.nav-icon {
    color: #9e9e9e;
    text-align: right;
    padding-right: 1em;
}


.bexar-air {
    color: white;
    font-size: 2em;
    font-family: 'Crushed', cursive;
}

/*.fa-chevron-circle-down {*/
    /*!*position: absolute;*!*/
    /*!*bottom: -0.5em;*!*/
    /*margin-left: calc(50% - 5px);*/
    /*bottom: 1em;*/
    /*left: 50%;*/
    /*z-index: 5;*/
/*}*/

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

i.homepage-icons.fas {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-left: calc(50% - 1.5px)
}



.centered-container {
    background-color: #ededed;
    max-width: 800px;
    margin: 0 auto;
    padding-top: .75em;
    padding-bottom: 1em;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.aq-map-box div {
    /*display: inline-block;*/
    margin: 0;
    height: 2.5em;
}


.white-text {
    color: #fff;
}

.blue-btn {
    background-color: #307fbe;
    /*background-color: #307e34;*/
}

.centered-btn {
    margin-left: calc(50% - 57.5px);
}


/********************* MAP *******************/



/*#floating-panel {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 25%;*/
    /*z-index: 5;*/
    /*background-color: #fff;*/
    /*padding: 5px;*/
    /*border: 1px solid #999;*/
    /*text-align: center;*/
    /*font-family: 'Roboto','sans-serif';*/
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
/*}*/
/*#floating-panel {*/
    /*!*background-color: #fff;*!*/
    /*!*border: 1px solid #999;*!*/
    /*!*left: 25%;*!*/
    /*!*padding: 5px;*!*/
    /*!*position: absolute;*!*/
    /*!*top: 10px;*!*/
    /*!*z-index: 5;*!*/
/*}*/



.legend-title, .green-bg, .yellow-bg, .orange-bg, .red-bg, .purple-bg, .maroon-bg {
    padding-left: .5em;
    padding-right: .5em;
    /*line-height: 38px*/
}

.legend-title {
    color: #14213D;
}

.small-text {
    font-size: .5em;
    line-height: 58px;
}

.green-bg {
    background-color: #008000bd;
}

.yellow-bg {
    background-color: #ffff0087;
}

.orange-bg {
    background-color: orange;
}

.red-bg {
    background-color: #ff0000d1;
}

.purple-bg {
    background-color: #800080d9;
}

.maroon-bg {
    background-color: #800000e6;
}

#map {
    height: 94vh;
    width: 100%;
}


#floating-panel {
    position: absolute;
    top: 10px;
    left: 2em;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding: 10px;
}

