<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <th:block th:replace="fragments/head :: header('About')"/>
        <link rel="stylesheet" href="/css/profile.css"/>
    </head>
    <body class="min-vh-100 about-body">
        <th:block th:replace="fragments/navbar :: nav"/>
        <div class="container about-container">
            <br/>
            <h1 class="form-title">About Us</h1>
            <br/>

            <div class="row top-row">
                <div class="col-12 col-md-4">
                    <div class="card bg-light mb-3 card-border centered-card" style="width: 18rem;">

                        <div class="card-body background-card">
                            <h5 class="card-title form-title">James Lampkins</h5>
                            <h6 class="card-subtitle mb-2 about-title">Software Developer</h6>
                            <div class="james-card"><img class="rounded-circle" th:src="@{/images/james-lampkins.jpg}"/></div>
                            <div class="col-md-12 social">
                                <br/>
                                <a class="about-color" href="https://alumni.codeup.com/students/628"> <i class="fas fa-code card-link"></i> Codeup Portal</a>
                            </div>
                            <div class="col-md-6 social">
                                <a class="about-color" href="https://github.com/Jlampkins"> <i class="fab fa-github card-link"></i> Github</a>
                            </div>
                            <div class="col-md-6 social">
                                <a class="about-color" href="https://www.linkedin.com/in/jameslampkins"> <i class="fab fa-linkedin card-link"></i> LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card bg-light mb-3 card-border centered-card" style="width: 18rem;">

                        <div class="card-body background-card">
                            <h5 class="card-title form-title">Anwar Lopez</h5>
                            <h6 class="card-subtitle mb-2 about-title">Software Developer</h6>
                            <div class="anwar-card"><img class="rounded-circle" th:src="@{/images/anwar-lopez.jpg}"/></div>
                            <div class="col-md-12 social">
                                <br/>
                                <a class="about-color" href="https://alumni.codeup.com/students/633"> <i class="fas fa-code card-link"></i> Codeup Portal</a>
                            </div>
                            <div class="col-md-6 social">
                                <a class="about-color" href="https://github.com/anwarlo"> <i class="fab fa-github card-link"></i> Github</a>
                            </div>
                            <div class="col-md-6 social">
                                <a class="about-color" href="https://www.linkedin.com/in/anwarlopez/"> <i class="fab fa-linkedin card-link"></i> LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 ">
                    <!--<div class="col-12 col-md-4 ">-->
                        <div class="card bg-light mb-3 card-border centered-card" style="width: 18rem;">

                            <div class="card-body background-card">
                                <h5 class="card-title form-title">Bethany Ramirez</h5>
                                <h6 class="card-subtitle mb-2 about-title">Software Developer</h6>
                                <div class="bethany-card"><img class="rounded-circle" th:src="@{/images/bethany-ramirez.jpg}"/></div>
                                <div class="col-md-12 social">
                                    <br/>
                                    <a class="about-color" href="https://alumni.codeup.com/students/619"> <i class="fas fa-code card-link"></i> Codeup Portal</a>
                                </div>
                                <div class="col-md-6 social">
                                    <a class="about-color" href="https://github.com/bethanyramirez"> <i class="fab fa-github card-link"></i> Github</a>
                                </div>
                                <div class="col-md-6 social">
                                    <a class="about-color" href="https://www.linkedin.com/in/bethany-ramirez/"> <i class="fab fa-linkedin card-link"></i> LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    <!--</div>-->
                </div>
            </div>
            <div class="breath-title"></div>
            <div class="bear"></div>
            <div class="bear2"></div>
        </div>
        <footer th:replace="fragments/footer :: footer" />
        <script src="js/bear.js"></script>
    </body>
</html>