<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Home</title>
        <link rel="shortcut icon"  href="/img/dancingBear.gif" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/css?family=Crushed" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: nav"/>
        <div class="container-fluid">
            <div class="gradient">
                <div class="air-calculation">
                    <img class="home-logo logo" src="images/wind.png"/>
                    <h2>Bexar Air Mission</h2>
                    <p>To provide awareness of how our local air quality affects the health of children in our community</p>
                </div>
            </div>
            <div class="row icon-row grass-background">
                <div class="col-12 col-md-4">
                    <i class="homepage-icons fas fa-wind fa-3x"></i>
                    <ul>
                        <li>The Air Quality Index is based on measurement of particulate matter (PM2.5 and PM10), Ozone (O3), Nitrogen Dioxide (NO2), Sulfur Dioxide (SO2) and Carbon Monoxide (CO) emissions.</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <i class="homepage-icons fas fa-mobile-alt fa-3x"></i>
                    <ul>
                        <li>Receive text message alerts when a locations falls at or below an unhealthy level</li>
                        <li>Receive a daily text message at 5PM for tomorrow's AQI</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <i class="homepage-icons fas fa-home fa-3x"></i>
                    <ul>
                        <li>Create custom locations to track the Air Quality of those locations</li>
                    </ul>
                </div>
            </div>

            <div>
                <a href="#middle"><i class="fas fa-chevron-circle-down fa-2x"></i></a>
            </div>
            <div class="map-title">
                Current Air Quality in Bexar County
            </div>
        </div>

            <div id="middle" class="container-fluid map-container">
                <!--<div id="floating-panel">-->
                    <!--<button id="toggle-heatmap">Toggle Heatmap</button>-->
                    <!--<button onclick="changeGradient()">Change gradient</button>-->
                    <!--<button onclick="changeRadius()">Change radius</button>-->
                    <!--<button onclick="changeOpacity()">Change opacity</button>-->
                <!--</div>-->
                <div class="aq-map-box">
                    <div>Air Quality Scale</div>
                    <div class="white-text green-bg">Good</div>
                    <div class="yellow-bg">Moderate</div>
                    <div class="orange-bg">
                        <div>Unhealthy</div>
                        <div><span id="small-text">for sensitive groups</span></div>
                    </div>
                    <div class="white-text red-bg">Unhealthy</div>
                    <div class="white-text purple-bg">Very Unhealthy</div>
                    <div class="white-text maroon-bg">Hazardous</div>
                </div>

                <div id="map"></div>
            </div>

        <script
                src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dragdealer/0.9.8/dragdealer.min.js"></script>
        <script src="js/index.js"></script>
        <!--<script>-->
        <!--var gMapScript = document.createElement("script");-->
        <!--gMapScript.setAttribute('src', "//maps.googleapis.com/maps/api/js?key=AIzaSyChqv6nRAunIaAbb2g1Mpt8C3H1TFiC3WM&callback=initMap&libraries=visualization");-->
        <!--document.body.appendChild(gMapScript);-->
        <!--</script>-->
        <script src="js/graph.js"></script>
    </body>
</html>